.card {
    margin-right: 2%;
}

header {
    margin-bottom: 2%;
}

.btn {
    margin-top: 2%;
}

.days {
    background-color: navy;
}

#current-weather {
    padding-left: 1%;
    margin-left: 0;
}

.weather-heading {
    padding-left: 2%;
}

.currentIcon {
    width: 7%;
    vertical-align: middle;
}

.fcstIcon {
    width: 50%;
    align-items: center;
}

.fcstDate {
    font-size: 100%;
    font-weight: bold;
}